.active-tab-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 16%;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show {
  opacity: 1;
}

.text-tab {
  width: 370px;
  text-align: end;
  font-family: 'SFPRODISPLAYREGULAR';
  margin-top: 20px;
  letter-spacing: 0.8px;
  font-weight: 400;
  font-size: 16px;
}

.header-active-tab {
  letter-spacing: 2px;
  font-family: 'SFPRODISPLAYMEDIUM';
  color: #0381ff;
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 20px;
}
.sub-header-active-tab {
  font-family: 'SFPRODISPLAYMEDIUM';
  font-weight: 700;
  font-size: 24px;
}

.btn-active-tab {
  font-family: 'SFPRODISPLAYREGULAR';
  margin-top: 20px;
  padding: 7.5px 10px 7.5px 10px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.16);
}

.img-active-tab {
  width: auto;
  height: 300px;
}

.box {
  position: relative;
  z-index: -1;
  transform: translateZ(0);

  animation: floatBubble 0.4s normal ease-in-out;
}

.box-frame2_1 {
  position: absolute;
  bottom: 60px;
  left: -50px;
  border: 2px solid #0381ff;
  background-color: #fff;
  width: auto;
  animation: floatBubble2 0.2s normal ease-out; /* Apply animation */
  transition-timing-function: ease;
}

.box-frame2_2 {
  position: absolute;
  bottom: 120px;
  right: -30px;
  border: 2px solid #0381ff;
  background-color: #fff;
  width: auto;
  animation: floatBubble3 0.2s normal ease-in-out; /* Apply animation */
}

.box-frame4_1 {
  position: absolute;
  bottom: 10px;
  left: -20px;

  width: auto;
  animation: floatBubble4 0.2s normal ease-out; /* Apply animation */
  transition-timing-function: ease;
}

.box-frame4_2 {
  position: absolute;
  bottom: 10px;
  right: -20px;
  width: auto;
  animation: floatBubble4 0.2s normal ease-out; /* Apply animation */
  transition-timing-function: ease;
}
.frame2_1 {
  height: 60px;
}

.frame2_2 {
  height: 80px;
}

.frame3_1 {
  height: 220px;
}

.frame3_2 {
  height: 240px;
}

.frame3_3 {
  height: 270px;
}

.frame4_1 {
  height: 230px;
}

.frame4_2 {
  height: 230px;
}

.frame5_1 {
  height: 25px;
}
.frame5_2 {
  height: 110px;
}
.frame5_3 {
  height: 110px;
}
.frame5_4 {
  height: 110px;
}
.box-frame3_1 {
  position: absolute;
  left: 35px;
  top: 70px;

  background-color: #fff;
  width: auto;
  animation: floatBubbleFrame3_1 0.2s normal ease-out;
  transition-timing-function: ease;
}

.box-frame3_2 {
  position: absolute;
  left: 30px;
  top: 80px;
  background-color: #fff;
  width: auto;
  animation: floatBubbleFrame3_2 0.2s normal ease-out;
  transition-timing-function: ease;
}

.box-frame3_3 {
  position: absolute;

  left: 20px;
  top: 90px;

  background-color: #fff;
  width: auto;
  animation: floatBubbleFrame3_3 0.2s normal ease-out;
  transition-timing-function: ease;
}
.box-frame5_1 {
  position: absolute;
  left: -25px;
  bottom: 20px;
  width: auto;
  animation: floatBubbleFrame5_1 0.2s normal ease-out;
  transition-timing-function: ease;
}
.box-frame5_2 {
  position: absolute;
  left: -15px;
  bottom: 15px;
  width: auto;
  animation: floatBubbleFrame5_2 0.2s normal ease-out;
  transition-timing-function: ease;
}
.box-frame5_3 {
  position: absolute;
  left: 67.5px;
  bottom: 35px;
  width: auto;
  animation: floatBubbleFrame5_3 0.2s normal ease-out;
  transition-timing-function: ease;
}
.box-frame5_4 {
  position: absolute;
  right: -20px;
  bottom: 10px;
  width: auto;
  animation: floatBubbleFrame5_4 0.2s normal ease-out;
  transition-timing-function: ease;
}

@keyframes floatBubble {
  0% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}

@keyframes floatBubbleFrame3_1 {
  0% {
    top: 150px;
  }
  100% {
    top: 70px;
  }
}
@keyframes floatBubbleFrame3_2 {
  0% {
    top: 150px;
  }
  100% {
    top: 80px;
  }
}
@keyframes floatBubbleFrame3_3 {
  0% {
    top: 150px;
  }
  100% {
    top: 90px;
  }
}

@keyframes floatBubbleFrame5_1 {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 20px;
  }
}
@keyframes floatBubbleFrame5_2 {
  0% {
    bottom: 0px;
    left: 0px;
  }
  100% {
    bottom: 15px;
    left: -15px;
  }
}
@keyframes floatBubbleFrame5_3 {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 35px;
  }
}
@keyframes floatBubbleFrame5_4 {
  0% {
    bottom: 0px;
    right: 0px;
  }
  100% {
    bottom: 10px;
    right: -20px;
  }
}
@keyframes floatBubble2 {
  0% {
    opacity: 0; /* Start with no opacity */
  }
  100% {
    bottom: 60px; /* End position outside */
    opacity: 1; /* Fully visible */
  }
}

@keyframes floatBubble3 {
  0% {
    opacity: 0; /* Start with no opacity */
  }
  100% {
    bottom: 120px; /* End position outside */
    opacity: 1; /* Fully visible */
  }
}

@keyframes floatBubble4 {
  0% {
    opacity: 0; /* Start with no opacity */
  }
  100% {
    bottom: 10px; /* End position outside */
    opacity: 1; /* Fully visible */
  }
}

@media screen and (max-width: 992px) {
  .active-tab-container {
    flex-direction: column-reverse;
  }
  .text-container {
    align-items: center;
    justify-content: center;
  }
  .text-tab {
    text-align: center;
    width: 75%;
    height: 100px;
  }
  .btn-active-tab {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .nav-container {
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

  .list-element,
  .active {
    width: 250px;
  }
  .element-container {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .element-container {
    width: 100%;
    margin: 0 7.5%;
  }
}
